/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html, body {
	margin:0;
	padding: 0;
}

body {
	overflow-y: scroll;
}


#header {
	position: absolute;
	width: 100%;
	left: 0;
	background: #BA2736;
	border-top: 10px solid #78000C;
	border-bottom: 10px solid #78000C;
	height: 200px;		

	img {
		position: absolute;
		left: 50%;
		margin-left: -300px;
		height: 163px;
		width: 507px;
	}
}

#container {
	width: 1000px;
	min-height: 100%;
	position: absolute;
	left: 50%;
	margin-left: -500px;
}

#footer {
	position: absolute;
	bottom:0;
	left:0;
	height: 100px;
	width: 100%;
	background: #603913;

	#mountains {
		background: url('/assets/mountains.png');
		width: 1000px;
		height: 123px;
		margin-top: -123px;
		z-index: 10;
	}

	#sun {
		position: absolute;
		left: 300px;
		bottom: 0px;
		width: 336px;
		height: 336px;
		background: url('/assets/sun.png');
		z-index: -5;
	}
}