// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//font-family: 'Gudea', sans-serif;
//font-family: 'Righteous', cursive;
//font-family: 'Open Sans', sans-serif;

#indexpage {
	width: 100%;
	height: 2150px;

	#problem {
		float: right;
		width: 80%;
		height: 600px;
		margin-top: 219px;
		
		#prb_title {
			font-family: 'Sarina', cursive;
			font-size: 2em;
			float: left;
			margin-top: 40px;
		}

		#prb_desc {
			margin-top: 90px;
			width: 300px;
		}

		#problem_pic {
			background: url('/assets/Main_problem.png');
			width: 644px;
			height: 548px;
			float: right;
		}
	}

	#product {
		float: left;
		height: 500px;
		width: 80%;
		margin-top: 40px;

		#prd_title {
			font-family: 'Sarina', cursive;
			font-size: 2em;
			text-align: right;
		}

		#prd_desc {
			margin-top: 5px;
			width: 300px;
			text-align: right;
			float: right;
		}

		#product_pic {
			background: url('/assets/Main_product.png');
			width: 594px;
			height: 386px;
			float: left;
		}
	}

	#solution {
		float: right;
		width: 80%;
		height: 400px;
		margin-top: 40px;

		#sol_title {
			font-family: 'Sarina', cursive;
			font-size: 2em;
			float: left;
			margin-top: 40px;
		}

		#sol_desc {
			margin-top: 90px;
			width: 300px;
		}

		#solution_pic {
			background: url('/assets/Main_solution.png');
			width: 744px;
			height: 388px;
			float: right;
		}
	}
}