<!DOCTYPE html>
<html>
<head>
  <title>Salsalito</title>
  <link href='http://fonts.googleapis.com/css?family=Sarina|Gudea:400,700|Righteous|Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="header">
		<a href="/welcome/index"><img src="/assets/logo.png" alt="Salsalito! Eat. Party. Save The World." /></a>
	</div>

		<%= yield %>

	<div id="footer">
		<div id="sun"> </div>
		<div id="mountains"> </div>
	</div>

</body>
</html>
